<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kedar guest house</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <style>
        .icon {
            color: white;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1.5rem;
        }
        
        .icon i {
            padding-top: 20px;
        }
        
        footer span i {
            margin-right: 20px;
            font-size: 1.5rem
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a class="navbar-brand">Brand</a>
        <button class="navbar-toggler" data-target="#nav" data-toggle="collapse" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Item 1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Item 2</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="slice py-5 py-lg-7">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-md-6 col-lg-6 order-md-2 mb-5 mb-md-0">
                    <div class="card border-0 shadow-lg zindex-100 mb-0">
                        <figure><img alt="Image placeholder" src="/img/img-1.jpg" class="card-img"></figure>
                        <div class="card-img-overlay d-flex justify-content-end">
                            <div class="text-center"><a href="https://www.youtube.com/watch?v=QdrIHAtdXB0" class="btn btn-white btn-icon-only rounded-circle shadow-sm hover-scale-110" data-fancybox=""><span class="btn-inner--icon text-sm"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play text-primary"><polygon points="5 3 19 12 5 21 5 3"></polygon></svg></span></a></div>
                        </div>
                    </div>
                    <div class="w-75 position-absolute bottom-n5 right-n5 rotate-180"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 463.6 616" style="enable-background:new 0 0 463.6 616;" xml:space="preserve" class="injected-svg svg-inject fill-secondary">
                        <path d="M148.4,608.3C25.7,572.5-3.5,442.2,0.3,375.8s24.8-117,124.8-166.5s125.7-77.4,165-129.6 c43.2-57.4,96.5-94.4,127.9-73c63,43,53.9,280,14,358s-68.9,75.5-98.9,118.7S271,644,148.4,608.3z"></path>
                    </svg></div>
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1">
                    <h1>
                        Kedar Guest <br>
                        <strong class="text-highlight-info">HOUSE</strong>
                    </h1>
                    <p class="lead text-center text-md-left text-muted">We offer traditional and continental Bed and Breakfast in comfortable surroundings at an affordable price. We sincereley hope you enjoy the relaxed and homely atmosphere during your stay. We are located just a few minutes walk from
                        the banks of the river Ganges.</p>
                    <a href="#" class="btn btn-sm d-none d-lg-inline-block btn-primary ml-auto">Book Now</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid p-0 bg-section-dark">
            <div class="row justify-content-center text-center">
                <div class="col-md-12 pt-3">
                    <h3 class="text-white">
                        Register On
                    </h3>
                </div>
            </div>
            <div class="px-5 py-4">
                <div class="client-group row justify-content-center">
                    <div class="client col-lg-2 col-md-3 col-4 py-3"><img alt="Image placeholder" src="/img/trip.png"></div>
                    <div class="client col-lg-2 col-md-3 col-4 py-3"><img alt="Image placeholder" src="/img/trip.png"></div>
                    <div class="client col-lg-2 col-md-3 col-4 py-3"><img alt="Image placeholder" src="/img/trip.png"></div>
                    <div class="client col-lg-2 col-md-3 col-4 py-3"><img alt="Image placeholder" src="/img/trip.png"></div>
                    <div class="client col-lg-2 col-md-3 col-4 py-3"><img alt="Image placeholder" src="/img/trip.png"></div>
                    <div class="client col-lg-2 col-md-3 col-4 py-3"><img alt="Image placeholder" src="/img/trip.png"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container">
            <div class="row mb-6 justify-content-center text-center">
                <div class="col-lg-8 col-md-10">
                    <h3 class="mt-4">Facilities We Offer</h3>
                    <div class="mt-3">
                        <p class="lead lh-180">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum officiis saepe quam sequi esse, vitae ad sunt nemo.</p>
                    </div>
                </div>
            </div>
            <div class="row mx-lg-n4">
                <div class="col-lg-6 col-md-6 px-lg-4">
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-warning text-white mr-4"><svg id="Layer_1" enable-background="new 0 0 512 512" height="2em" viewBox="0 0 512 512" width="2em" xmlns="http://www.w3.org/2000/svg"><path d="m152.881 274.573c3.677 2.467 8.643 1.477 11.101-2.184.474-.707.966-1.395 1.467-2.083 2.599-3.573 1.809-8.577-1.764-11.175-3.572-2.598-8.576-1.809-11.175 1.764-.619.852-1.227 1.704-1.813 2.577-2.462 3.668-1.484 8.638 2.184 11.101z"/><path d="m504 496h-64.248c48.222-40.639 19.812-120-43.752-120h-5.672c3.939-13.929 1.086-19.501-9.689-68.027-9.901-44.5-43.24-81.529-88.975-94.857 10.89-7.336 19.401-17.934 24.147-30.376 1.661-1.062 1.228-.771 11.442-14.588 35.507-48.032 11.148-111.846-39.253-130.545v-5.607c0-17.645-14.355-32-32-32s-32 14.355-32 32v5.607c-50.417 18.704-74.748 82.53-39.253 130.545 10.253 13.869 9.78 13.526 11.442 14.588 4.744 12.435 13.247 23.027 24.127 30.363-17.008 4.957-32.938 13.43-46.647 25.005-3.376 2.85-3.802 7.897-.951 11.273 2.85 3.375 7.897 3.802 11.273.951 29.508-24.915 70.336-33.183 108.054-20.313-11.586 43.55-46.964 76.252-91.856 84.172l-6.052 1.068 5.672-25.524c.958-4.313-1.761-8.586-6.074-9.545s-8.586 1.762-9.545 6.074c-1.859 8.366-12.211 54.951-14.608 65.735h-9.582c-4.418 0-8 3.582-8 8s3.582 8 8 8h30.059c24.023 0 46.609-9.355 63.598-26.343 3.124-3.124 3.125-8.189 0-11.313-3.123-3.124-8.188-3.124-11.313 0-13.967 13.966-32.535 21.657-52.285 21.657h-4.086l4.407-19.83c19.909-3.513 51.244-7.725 82.048-37.947 16.437-16.127 28.237-35.989 34.49-57.903 22.415 11.463 39.641 29.735 50.029 51.68h-28.752l-.386-1.735c-.958-4.313-5.231-7.033-9.545-6.074-4.313.958-7.033 5.232-6.074 9.545l13.837 62.264h-4.086c-19.75 0-38.318-7.691-52.284-21.657-3.124-3.125-8.189-3.124-11.313 0-3.125 3.124-3.124 8.189 0 11.313 29.294 29.295 58.907 26.344 93.656 26.344 4.418 0 8-3.582 8-8s-3.582-8-8-8h-9.583l-10.667-48h31.314c1.605 5.407.789 2.19 12.266 53.878 3.892 17.499-9.45 34.122-27.372 34.122h-66.667c8.881-18.644-4.873-40-25.293-40-4.418 0-8 3.582-8 8s3.582 8 8 8c3.203 0 6.215 1.249 8.483 3.516 7.496 7.495 2.245 20.484-8.481 20.484h-91.96c-15.461 0-28.04-12.579-28.04-28.04 0-4.192-.227-2.047 10.978-52.508 1.128-5.056 2.61-10.052 4.405-14.848 1.548-4.138-.551-8.748-4.689-10.296-4.137-1.549-8.747.55-10.296 4.689-2.053 5.486-3.747 11.197-5.037 16.979-10.825 48.752-13.606 54.212-9.674 68.024h-5.687c-63.255 0-92.093 79.213-43.805 120h-64.195c-4.418 0-8 3.582-8 8s3.582 8 8 8h496c4.418 0 8-3.582 8-8s-3.582-8-8-8zm-264-464c0-8.822 7.178-16 16-16s16 7.178 16 16c0 3.245.921-.511-18.907.041-14.55.407-13.093 2.719-13.093-.041zm-48.944 55.808c25.884-53.161 103.954-53.265 129.889 0 9.832 20.194 9.34 42.686-.944 61.944-.001-32.178 1.79-53.752-10.321-53.752-4.176 0-8.37.745-10.525-3.578-3.831-7.662-11.531-12.422-20.095-12.422-49.739 0-50.693-1.089-57.948 3.362-9.339 5.795-7.229 12.638-14.052 12.638h-4.74c-12.178 0-10.32 21.74-10.32 53.752-10.285-19.258-10.776-41.75-.944-61.944zm16.944 72.192c0-43.94-.224-42.747.672-48.057 7.909-.557 14.894-5.188 18.489-12.377.532-1.068 1.357-1.97 2.352-2.587 2.223-1.363-.484-.979 49.547-.979 6.803 0 4.701 6.835 14.088 12.66 3.1 1.901 6.59 3.023 10.179 3.282.944 5.592.673 4.943.673 48.058 0 26.467-21.533 48-48 48s-48-21.533-48-48zm-25.943 305.761-8.032 3.213c-10.907 4.363-16.325 16.147-13.11 27.026h-24.915v-41.754zm.254 30.239c-6.891 0-8.788-9.594-2.344-12.171 33.639-13.455 31.471-12.508 32.47-13.173 16.95-11.3 20.164-14.656 29.028-14.656 10.03 0 18.899 6.393 22.07 15.907l.874 2.623c1.322 3.966 5.469 6.246 9.53 5.232l102.061-25.516v41.754zm209.689 0v-45.754l9.94-2.485c4.286-1.072 6.892-5.415 5.821-9.702s-5.414-6.892-9.702-5.821l-121.081 30.271c-6.416-13.633-20.159-22.509-35.512-22.509-14.295 0-21.781 6.596-34.959 15.38l-92.567-23.142c-4.288-1.069-8.63 1.535-9.702 5.821-1.071 4.287 1.535 8.63 5.821 9.702l9.94 2.485v45.754h-4c-28.755 0-52-23.267-52-52 0-28.673 23.327-52 52-52h14.106c8.084 9.767 20.294 16 33.934 16h183.92c13.262 0 25.523-5.832 33.952-16 16.336 0 33.851-1.767 50.858 15.224 32.472 32.504 9.674 88.776-36.769 88.776z"/></svg></div>
                            </div>
                            <div><span class="h6">Yoga session</span>
                                <p class="text-sm text-muted mb-0">Built to be customized.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width: 3em;height: 3em;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path d="M504.5,328.661c-22.118,0-33.314,4.332-44.142,8.521c-9.982,3.862-19.412,7.511-38.729,7.511    c-19.318,0-28.747-3.648-38.73-7.511c-10.827-4.189-22.023-8.521-44.142-8.521c-22.105,0-33.294,4.333-44.115,8.522    c-9.975,3.862-19.397,7.51-38.699,7.51c-19.31,0-28.735-3.648-38.713-7.51c-10.824-4.19-22.016-8.522-44.127-8.522    c-22.104,0-33.293,4.333-44.114,8.522c-9.975,3.862-19.396,7.51-38.698,7.51c-19.296,0-28.715-3.648-38.687-7.51    c-10.818-4.19-22.004-8.522-44.104-8.522c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5    c19.296,0,28.714,3.648,38.687,7.51c10.818,4.19,22.004,8.522,44.104,8.522c22.104,0,33.293-4.333,44.114-8.522    c9.975-3.862,19.396-7.51,38.698-7.51c19.309,0,28.734,3.648,38.712,7.51c10.824,4.19,22.017,8.522,44.128,8.522    c22.105,0,33.294-4.333,44.115-8.522c9.975-3.862,19.397-7.51,38.699-7.51c19.317,0,28.747,3.648,38.729,7.511    c10.828,4.189,22.024,8.521,44.143,8.521s33.314-4.332,44.142-8.521c9.982-3.862,19.412-7.511,38.729-7.511    c4.142,0,7.5-3.358,7.5-7.5C512,332.019,508.642,328.661,504.5,328.661z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M471.418,373.02c-1.49-3.865-5.833-5.79-9.696-4.3l-1.367,0.528c-4.515,1.747-8.78,3.397-13.855,4.715    c-4.009,1.042-6.415,5.136-5.374,9.145c0.877,3.377,3.92,5.616,7.254,5.616c0.625,0,1.259-0.079,1.891-0.243    c5.912-1.536,10.784-3.421,15.497-5.245l1.349-0.521C470.982,381.225,472.908,376.884,471.418,373.02z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M416.593,376.67c-16.001-0.577-24.595-3.902-33.694-7.423c-10.828-4.189-22.024-8.521-44.142-8.521    c-22.105,0-33.294,4.333-44.115,8.522c-9.975,3.862-19.397,7.51-38.699,7.51c-19.31,0-28.734-3.648-38.713-7.511    c-10.824-4.189-22.016-8.522-44.127-8.522c-22.104,0-33.293,4.333-44.114,8.522c-9.077,3.515-17.651,6.834-33.587,7.419    c-4.14,0.152-7.372,3.631-7.22,7.77c0.152,4.14,3.632,7.363,7.77,7.22c18.454-0.677,28.622-4.614,38.454-8.421    c9.975-3.862,19.396-7.51,38.698-7.51c19.309,0,28.734,3.648,38.712,7.511c10.824,4.189,22.017,8.522,44.128,8.522    c22.105,0,33.294-4.333,44.115-8.522c9.975-3.862,19.397-7.51,38.699-7.51c19.317,0,28.747,3.648,38.729,7.511    c9.855,3.813,20.045,7.756,38.566,8.424c4.113,0.147,7.616-3.085,7.765-7.225C423.967,380.296,420.732,376.819,416.593,376.67z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M338.757,392.791c-22.105,0-33.294,4.333-44.115,8.522c-9.975,3.862-19.397,7.51-38.699,7.51    c-19.31,0-28.734-3.648-38.713-7.51c-10.824-4.19-22.016-8.522-44.127-8.522c-4.142,0-7.5,3.358-7.5,7.5    c0,4.142,3.358,7.5,7.5,7.5c19.309,0,28.734,3.648,38.713,7.51c10.824,4.19,22.016,8.522,44.127,8.522    c22.105,0,33.294-4.333,44.115-8.522c9.975-3.862,19.397-7.51,38.699-7.51c4.142,0,7.5-3.358,7.5-7.5    C346.257,396.149,342.899,392.791,338.757,392.791z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M65.511,373.981c-5.105-1.323-9.384-2.981-13.914-4.736c-3.862-1.496-8.207,0.422-9.703,4.284    c-1.496,3.863,0.422,8.207,4.284,9.703c4.73,1.832,9.621,3.727,15.569,5.269c0.631,0.164,1.264,0.242,1.887,0.242    c3.335,0,6.379-2.242,7.255-5.62C71.929,379.113,69.521,375.021,65.511,373.981z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M354.282,227.687c-22.407-32.143-59.147-51.333-98.281-51.333c-66.017,0-119.726,53.708-119.726,119.726    c-0.001,2.849,0.1,5.724,0.3,8.545c0.279,3.952,3.572,6.972,7.474,6.972c0.178,0,0.356-0.006,0.536-0.019    c4.132-0.292,7.245-3.878,6.953-8.01c-0.175-2.472-0.263-4.991-0.263-7.488c0-57.746,46.979-104.726,104.726-104.726    c34.231,0,66.372,16.789,85.975,44.911c2.369,3.397,7.043,4.231,10.442,1.864C355.816,235.76,356.65,231.085,354.282,227.687z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M103.694,288.581H55.597c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h48.097c4.142,0,7.5-3.358,7.5-7.5    C111.194,291.939,107.836,288.581,103.694,288.581z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M256,88.177c-4.142,0-7.5,3.358-7.5,7.5v48.097c0,4.143,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5V95.677    C263.5,91.535,260.142,88.177,256,88.177z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M403.01,149.071c-2.929-2.929-7.678-2.929-10.606,0l-34.01,34.01c-2.929,2.929-2.929,7.678,0,10.606    c1.464,1.464,3.383,2.197,5.303,2.197c1.919,0,3.839-0.732,5.303-2.197l34.01-34.01    C405.939,156.748,405.939,151.999,403.01,149.071z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M204.644,152.498l-6.135-14.812c-1.585-3.827-5.972-5.643-9.799-4.059c-3.827,1.585-5.644,5.973-4.059,9.799l6.135,14.812    c1.196,2.888,3.989,4.632,6.932,4.632c0.957,0,1.929-0.184,2.867-0.573C204.412,160.712,206.229,156.324,204.644,152.498z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M418.454,228.791c-1.585-3.826-5.972-5.644-9.799-4.059l-14.812,6.135c-3.827,1.584-5.644,5.972-4.059,9.799    c1.196,2.888,3.989,4.632,6.932,4.632c0.957,0,1.929-0.184,2.867-0.573l14.812-6.135    C418.222,237.005,420.039,232.617,418.454,228.791z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M323.29,133.627c-3.826-1.585-8.214,0.232-9.799,4.059l-6.135,14.812c-1.585,3.826,0.232,8.213,4.059,9.799    c0.938,0.389,1.911,0.573,2.867,0.573c2.943,0,5.736-1.744,6.932-4.632l6.135-14.812    C328.934,139.599,327.117,135.212,323.29,133.627z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M118.157,230.866l-14.812-6.135c-3.828-1.585-8.214,0.232-9.799,4.059c-1.585,3.827,0.232,8.214,4.059,9.799l14.812,6.135    c0.939,0.389,1.911,0.573,2.867,0.573c2.943,0,5.736-1.744,6.932-4.632C123.801,236.838,121.984,232.451,118.157,230.866z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M116.862,136.275c-11.078,0-21.775,3.692-30.589,10.481c-4.015-1.257-8.153-1.893-12.354-1.893    c-23.079,0-41.855,18.776-41.855,41.855c0,4.142,3.358,7.5,7.5,7.5h120.242c4.142,0,7.5-3.358,7.5-7.5    C167.306,158.904,144.677,136.275,116.862,136.275z M48.13,179.217c3.253-11.169,13.583-19.354,25.789-19.354    c3.695,0,7.331,0.778,10.807,2.313c2.739,1.209,5.934,0.674,8.129-1.362c6.634-6.152,15.161-9.54,24.008-9.54    c16.971,0,31.194,11.99,34.646,27.943H48.13z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M381.968,262.242c-4.201,0-8.339,0.635-12.354,1.893c-8.814-6.789-19.512-10.481-30.589-10.481    c-27.815,0-50.444,22.629-50.444,50.443c0,4.142,3.358,7.5,7.5,7.5h120.242c4.142,0,7.5-3.358,7.5-7.5    C423.823,281.018,405.047,262.242,381.968,262.242z M304.379,296.597c3.451-15.953,17.675-27.943,34.646-27.943    c8.847,0,17.373,3.388,24.008,9.54c2.196,2.035,5.389,2.569,8.128,1.361c3.476-1.535,7.112-2.313,10.807-2.313    c12.206,0,22.536,8.185,25.79,19.355H304.379z"/>
                                                </g>
                                            </g>
                                            </svg>
                                </div>
                            </div>
                            <div><span class="h6">Boat Trip For Sunrise & Sunset
                                </span>
                                <p class="text-sm text-muted mb-0">Built to be customized.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width: 3em;height: 3em;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path d="M504.5,328.661c-22.118,0-33.314,4.332-44.142,8.521c-9.982,3.862-19.412,7.511-38.729,7.511    c-19.318,0-28.747-3.648-38.73-7.511c-10.827-4.189-22.023-8.521-44.142-8.521c-22.105,0-33.294,4.333-44.115,8.522    c-9.975,3.862-19.397,7.51-38.699,7.51c-19.31,0-28.735-3.648-38.713-7.51c-10.824-4.19-22.016-8.522-44.127-8.522    c-22.104,0-33.293,4.333-44.114,8.522c-9.975,3.862-19.396,7.51-38.698,7.51c-19.296,0-28.715-3.648-38.687-7.51    c-10.818-4.19-22.004-8.522-44.104-8.522c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5    c19.296,0,28.714,3.648,38.687,7.51c10.818,4.19,22.004,8.522,44.104,8.522c22.104,0,33.293-4.333,44.114-8.522    c9.975-3.862,19.396-7.51,38.698-7.51c19.309,0,28.734,3.648,38.712,7.51c10.824,4.19,22.017,8.522,44.128,8.522    c22.105,0,33.294-4.333,44.115-8.522c9.975-3.862,19.397-7.51,38.699-7.51c19.317,0,28.747,3.648,38.729,7.511    c10.828,4.189,22.024,8.521,44.143,8.521s33.314-4.332,44.142-8.521c9.982-3.862,19.412-7.511,38.729-7.511    c4.142,0,7.5-3.358,7.5-7.5C512,332.019,508.642,328.661,504.5,328.661z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M471.418,373.02c-1.49-3.865-5.833-5.79-9.696-4.3l-1.367,0.528c-4.515,1.747-8.78,3.397-13.855,4.715    c-4.009,1.042-6.415,5.136-5.374,9.145c0.877,3.377,3.92,5.616,7.254,5.616c0.625,0,1.259-0.079,1.891-0.243    c5.912-1.536,10.784-3.421,15.497-5.245l1.349-0.521C470.982,381.225,472.908,376.884,471.418,373.02z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M416.593,376.67c-16.001-0.577-24.595-3.902-33.694-7.423c-10.828-4.189-22.024-8.521-44.142-8.521    c-22.105,0-33.294,4.333-44.115,8.522c-9.975,3.862-19.397,7.51-38.699,7.51c-19.31,0-28.734-3.648-38.713-7.511    c-10.824-4.189-22.016-8.522-44.127-8.522c-22.104,0-33.293,4.333-44.114,8.522c-9.077,3.515-17.651,6.834-33.587,7.419    c-4.14,0.152-7.372,3.631-7.22,7.77c0.152,4.14,3.632,7.363,7.77,7.22c18.454-0.677,28.622-4.614,38.454-8.421    c9.975-3.862,19.396-7.51,38.698-7.51c19.309,0,28.734,3.648,38.712,7.511c10.824,4.189,22.017,8.522,44.128,8.522    c22.105,0,33.294-4.333,44.115-8.522c9.975-3.862,19.397-7.51,38.699-7.51c19.317,0,28.747,3.648,38.729,7.511    c9.855,3.813,20.045,7.756,38.566,8.424c4.113,0.147,7.616-3.085,7.765-7.225C423.967,380.296,420.732,376.819,416.593,376.67z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M338.757,392.791c-22.105,0-33.294,4.333-44.115,8.522c-9.975,3.862-19.397,7.51-38.699,7.51    c-19.31,0-28.734-3.648-38.713-7.51c-10.824-4.19-22.016-8.522-44.127-8.522c-4.142,0-7.5,3.358-7.5,7.5    c0,4.142,3.358,7.5,7.5,7.5c19.309,0,28.734,3.648,38.713,7.51c10.824,4.19,22.016,8.522,44.127,8.522    c22.105,0,33.294-4.333,44.115-8.522c9.975-3.862,19.397-7.51,38.699-7.51c4.142,0,7.5-3.358,7.5-7.5    C346.257,396.149,342.899,392.791,338.757,392.791z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M65.511,373.981c-5.105-1.323-9.384-2.981-13.914-4.736c-3.862-1.496-8.207,0.422-9.703,4.284    c-1.496,3.863,0.422,8.207,4.284,9.703c4.73,1.832,9.621,3.727,15.569,5.269c0.631,0.164,1.264,0.242,1.887,0.242    c3.335,0,6.379-2.242,7.255-5.62C71.929,379.113,69.521,375.021,65.511,373.981z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M354.282,227.687c-22.407-32.143-59.147-51.333-98.281-51.333c-66.017,0-119.726,53.708-119.726,119.726    c-0.001,2.849,0.1,5.724,0.3,8.545c0.279,3.952,3.572,6.972,7.474,6.972c0.178,0,0.356-0.006,0.536-0.019    c4.132-0.292,7.245-3.878,6.953-8.01c-0.175-2.472-0.263-4.991-0.263-7.488c0-57.746,46.979-104.726,104.726-104.726    c34.231,0,66.372,16.789,85.975,44.911c2.369,3.397,7.043,4.231,10.442,1.864C355.816,235.76,356.65,231.085,354.282,227.687z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M103.694,288.581H55.597c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5h48.097c4.142,0,7.5-3.358,7.5-7.5    C111.194,291.939,107.836,288.581,103.694,288.581z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M256,88.177c-4.142,0-7.5,3.358-7.5,7.5v48.097c0,4.143,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5V95.677    C263.5,91.535,260.142,88.177,256,88.177z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M403.01,149.071c-2.929-2.929-7.678-2.929-10.606,0l-34.01,34.01c-2.929,2.929-2.929,7.678,0,10.606    c1.464,1.464,3.383,2.197,5.303,2.197c1.919,0,3.839-0.732,5.303-2.197l34.01-34.01    C405.939,156.748,405.939,151.999,403.01,149.071z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M204.644,152.498l-6.135-14.812c-1.585-3.827-5.972-5.643-9.799-4.059c-3.827,1.585-5.644,5.973-4.059,9.799l6.135,14.812    c1.196,2.888,3.989,4.632,6.932,4.632c0.957,0,1.929-0.184,2.867-0.573C204.412,160.712,206.229,156.324,204.644,152.498z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M418.454,228.791c-1.585-3.826-5.972-5.644-9.799-4.059l-14.812,6.135c-3.827,1.584-5.644,5.972-4.059,9.799    c1.196,2.888,3.989,4.632,6.932,4.632c0.957,0,1.929-0.184,2.867-0.573l14.812-6.135    C418.222,237.005,420.039,232.617,418.454,228.791z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M323.29,133.627c-3.826-1.585-8.214,0.232-9.799,4.059l-6.135,14.812c-1.585,3.826,0.232,8.213,4.059,9.799    c0.938,0.389,1.911,0.573,2.867,0.573c2.943,0,5.736-1.744,6.932-4.632l6.135-14.812    C328.934,139.599,327.117,135.212,323.29,133.627z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M118.157,230.866l-14.812-6.135c-3.828-1.585-8.214,0.232-9.799,4.059c-1.585,3.827,0.232,8.214,4.059,9.799l14.812,6.135    c0.939,0.389,1.911,0.573,2.867,0.573c2.943,0,5.736-1.744,6.932-4.632C123.801,236.838,121.984,232.451,118.157,230.866z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M116.862,136.275c-11.078,0-21.775,3.692-30.589,10.481c-4.015-1.257-8.153-1.893-12.354-1.893    c-23.079,0-41.855,18.776-41.855,41.855c0,4.142,3.358,7.5,7.5,7.5h120.242c4.142,0,7.5-3.358,7.5-7.5    C167.306,158.904,144.677,136.275,116.862,136.275z M48.13,179.217c3.253-11.169,13.583-19.354,25.789-19.354    c3.695,0,7.331,0.778,10.807,2.313c2.739,1.209,5.934,0.674,8.129-1.362c6.634-6.152,15.161-9.54,24.008-9.54    c16.971,0,31.194,11.99,34.646,27.943H48.13z"/>
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M381.968,262.242c-4.201,0-8.339,0.635-12.354,1.893c-8.814-6.789-19.512-10.481-30.589-10.481    c-27.815,0-50.444,22.629-50.444,50.443c0,4.142,3.358,7.5,7.5,7.5h120.242c4.142,0,7.5-3.358,7.5-7.5    C423.823,281.018,405.047,262.242,381.968,262.242z M304.379,296.597c3.451-15.953,17.675-27.943,34.646-27.943    c8.847,0,17.373,3.388,24.008,9.54c2.196,2.035,5.389,2.569,8.128,1.361c3.476-1.535,7.112-2.313,10.807-2.313    c12.206,0,22.536,8.185,25.79,19.355H304.379z"/>
                                                </g>
                                            </g>
                                            </svg>
                                </div>
                            </div>
                            <div><span class="h6">Ganges & Sunrise View from Roof</span>
                                <p class="text-sm text-muted mb-0">Built to be customized.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 px-lg-4">
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-success text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="2em" height="2em" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
                                            <g>
                                                <path d="M339.296,19.573c-92.187,0-173.778,46.021-223.165,116.25c10.221,6.668,20.184,15.812,29.82,27.567   c36.844-55.091,96.417-93.743,165.344-102.052l27.997,47.377l27.997-47.378c105.952,12.769,190.17,96.983,202.945,202.934   l-47.385,28.001l47.386,28.002c-8.54,70.836-49.108,131.821-106.661,168.372c3.666,8.357,5.731,16.902,6.096,25.712   c0.269,6.438-0.395,12.521-1.73,18.296C553.609,486.622,612,396.153,612,292.277C612,141.904,489.669,19.573,339.296,19.573z    M408.887,468.69c-62.865-50.523-80.444-25.688-108.968,2.832c-19.914,19.921-70.308-21.678-113.821-65.193   c-43.516-43.521-85.107-93.907-65.195-113.824c28.526-28.521,53.354-46.11,2.817-108.958   c-50.52-62.871-84.198-14.603-111.829,13.03c-31.9,31.889-1.681,150.726,115.769,268.194   c117.466,117.452,236.302,147.651,268.183,115.774C423.471,552.911,471.753,519.237,408.887,468.69z M217.426,334.954   c0-55.88,65.42-65.835,65.42-87.641c0-10.581-8.47-15.023-16.304-15.023c-14.397,0-22.434,16.083-22.434,16.083l-27.521-18.415   c0,0,13.973-32.6,53.346-32.6c24.766,0,51.65,14.185,51.65,46.36c0,47.208-60.968,56.314-62.028,75.789h64.36v31.751H219.123   C218.062,345.332,217.426,340.043,217.426,334.954z M339.391,292.199l58.434-92.305h45.301v84.047h17.991v30.691h-17.991v36.628   h-36.628v-36.628h-67.106V292.199L339.391,292.199z M406.497,283.94v-33.871c0-8.258,1.272-16.94,1.272-16.94h-0.424   c0,0-3.171,9.318-7.41,15.669l-22.857,34.72v0.424L406.497,283.94L406.497,283.94z"/>
                                            </g>
                                            </svg>
                                </div>
                            </div>
                            <div><span class="h6">International call facility</span>
                                <p class="text-sm text-muted mb-0">Built to be customized.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-dark text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" viewBox="-42 0 512 512.001" style="height: 2em;width: 2em;"><path d="m135.746094 380.710938c-.988282 1.796874-2.519532 2.335937-3.957032 2.335937s-2.875-.539063-3.863281-2.335937l-10.339843-19.417969v39.371093c0 2.429688-2.964844 3.6875-5.839844 3.6875-2.96875 0-5.84375-1.257812-5.84375-3.6875v-56.183593c0-4.3125 2.875-5.839844 5.84375-5.839844 4.222656 0 6.113281.898437 9.078125 6.199219l11.058593 20.136718 11.054688-20.136718c2.96875-5.300782 4.945312-6.199219 9.171875-6.199219 2.964844 0 5.839844 1.527344 5.839844 5.839844v56.183593c0 2.429688-2.964844 3.6875-5.839844 3.6875-2.96875 0-5.84375-1.257812-5.84375-3.6875v-38.652343zm0 0"/><path d="m190.484375 366.863281h13.664063c2.335937 0 3.683593 2.25 3.683593 4.675781 0 2.066407-1.167969 4.496094-3.683593 4.496094h-13.664063v18.066406h25.4375c2.339844 0 3.6875 2.425782 3.6875 5.214844 0 2.425782-1.167969 5.035156-3.6875 5.035156h-32c-2.605469 0-5.125-1.261718-5.125-3.6875v-58.339843c0-2.425781 2.515625-3.6875 5.125-3.6875h32c2.519531 0 3.6875 2.609375 3.6875 5.035156 0 2.789063-1.347656 5.214844-3.6875 5.214844h-25.4375zm0 0"/><path d="m267.519531 400.664062-19.328125-36.136718v36.136718c0 2.429688-2.964844 3.6875-5.84375 3.6875-2.964844 0-5.84375-1.257812-5.84375-3.6875v-58.339843c0-2.515625 2.878906-3.683594 5.84375-3.683594 4.226563 0 5.933594.898437 8.722656 6.199219l17.347657 33.53125v-36.136719c0-2.515625 2.875-3.597656 5.84375-3.597656 2.875 0 5.839843 1.078125 5.839843 3.597656v58.429687c0 2.425782-2.964843 3.6875-5.839843 3.6875-2.789063 0-5.214844-.898437-6.742188-3.6875zm0 0"/><path d="m332.148438 342.234375c0-2.515625 2.875-3.59375 5.839843-3.59375 2.878907 0 5.84375 1.078125 5.84375 3.59375v42.070313c0 15.011718-9.527343 20.585937-21.574219 20.585937-12.136718 0-21.574218-5.574219-21.574218-20.585937v-42.070313c0-2.515625 2.875-3.59375 5.84375-3.59375 2.875 0 5.839844 1.078125 5.839844 3.59375v42.070313c0 7.011718 3.6875 10.339843 9.890624 10.339843 6.203126 0 9.886719-3.328125 9.886719-10.339843v-42.070313zm0 0"/><path d="m355.257812 422.148438h-42.730468c-4.195313 0-7.59375 3.398437-7.59375 7.589843 0 4.195313 3.398437 7.589844 7.59375 7.589844h42.730468c4.195313 0 7.589844-3.394531 7.589844-7.589844 0-4.191406-3.394531-7.589843-7.589844-7.589843zm0 0"/><path d="m277.207031 422.148438h-172.941406c-4.191406 0-7.589844 3.398437-7.589844 7.589843 0 4.195313 3.398438 7.589844 7.589844 7.589844h172.941406c4.195313 0 7.589844-3.394531 7.589844-7.589844 0-4.191406-3.394531-7.589843-7.589844-7.589843zm0 0"/><path d="m355.257812 306.242188h-250.992187c-4.191406 0-7.589844 3.398437-7.589844 7.589843 0 4.191407 3.398438 7.589844 7.589844 7.589844h250.992187c4.195313 0 7.589844-3.398437 7.589844-7.589844 0-4.191406-3.394531-7.589843-7.589844-7.589843zm0 0"/><path d="m351.035156 212.128906h-7.367187c-2.84375-52.300781-41.074219-95.339844-91.109375-105.527344l1.464844-14.003906c.480468-4.570312-1.011719-9.148437-4.085938-12.558594-3.074219-3.414062-7.472656-5.371093-12.066406-5.371093h-16.214844c-4.597656 0-8.992188 1.960937-12.070312 5.371093-3.074219 3.414063-4.5625 7.992188-4.082032 12.558594l1.464844 14.003906c-50.035156 10.1875-88.265625 53.222657-91.109375 105.523438h-7.367187c-6.515626 0-11.816407 5.300781-11.816407 11.816406v15.664063c0 6.515625 5.300781 11.816406 11.816407 11.816406h242.539062c6.515625 0 11.816406-5.300781 11.816406-11.816406v-15.664063c0-6.511718-5.296875-11.8125-11.8125-11.8125zm-130.167968-121.929687c.210937-.230469.472656-.347657.789062-.347657h16.214844c.3125 0 .578125.117188.789062.347657.210938.234375.300782.511719.265625.820312l-1.417969 13.5625c-2.558593-.171875-5.140624-.269531-7.742187-.269531-2.605469 0-5.183594.097656-7.742187.269531l-1.421876-13.5625c-.03125-.308593.058594-.585937.265626-.820312zm126.800781 146.042969h-235.808594v-8.933594h31.988281c4.195313 0 7.59375-3.398438 7.59375-7.589844s-3.398437-7.589844-7.59375-7.589844h-12.777344c3.242188-51.625 46.265626-92.632812 98.691407-92.632812 52.429687 0 95.453125 41.007812 98.695312 92.632812h-149.289062c-4.195313 0-7.589844 3.398438-7.589844 7.589844s3.394531 7.589844 7.589844 7.589844h168.5zm0 0"/><path d="m409.484375 0h-359.441406c-10.65625 0-19.328125 8.671875-19.328125 19.328125v13.710937h-7.082032c-13.03125 0-23.632812 10.605469-23.632812 23.636719s10.601562 23.636719 23.632812 23.636719h7.082032v32.457031h-7.082032c-13.03125 0-23.632812 10.601563-23.632812 23.636719 0 13.03125 10.601562 23.632812 23.632812 23.632812h7.082032v32.460938h-7.082032c-13.03125 0-23.632812 10.601562-23.632812 23.636719 0 13.03125 10.601562 23.632812 23.632812 23.632812h7.082032v32.460938h-7.082032c-13.03125 0-23.632812 10.601562-23.632812 23.632812 0 13.035157 10.601562 23.636719 23.632812 23.636719h7.082032v32.460938h-7.082032c-13.03125 0-23.632812 10.601562-23.632812 23.632812 0 13.035156 10.601562 23.636719 23.632812 23.636719h7.082032v32.460937h-7.082032c-13.03125 0-23.632812 10.601563-23.632812 23.632813s10.601562 23.636719 23.632812 23.636719h7.082032v13.710937c0 10.65625 8.671875 19.328125 19.328125 19.328125h359.441406c10.65625 0 19.332031-8.671875 19.332031-19.328125v-473.34375c0-10.65625-8.675781-19.328125-19.332031-19.328125zm-378.773437 65.132812h-7.078126c-4.660156 0-8.453124-3.792968-8.453124-8.457031 0-4.660156 3.792968-8.453125 8.453124-8.453125h7.078126zm0 79.726563h-7.078126c-4.660156 0-8.453124-3.792969-8.453124-8.453125 0-4.664062 3.792968-8.453125 8.453124-8.453125h7.078126zm0 79.730469h-7.078126c-4.660156 0-8.453124-3.792969-8.453124-8.453125 0-4.664063 3.792968-8.457031 8.453124-8.457031h7.078126zm0 79.730468h-7.078126c-4.660156 0-8.453124-3.792968-8.453124-8.457031 0-4.660156 3.792968-8.453125 8.453124-8.453125h7.078126zm0 79.726563h-7.078126c-4.660156 0-8.453124-3.789063-8.453124-8.453125 0-4.660156 3.792968-8.453125 8.453124-8.453125h7.078126zm0 79.730469h-7.078126c-4.660156 0-8.453124-3.792969-8.453124-8.453125 0-4.664063 3.792968-8.453125 8.453124-8.453125h7.078126zm382.921874 28.890625c0 2.289062-1.859374 4.152343-4.148437 4.152343h-359.441406c-2.289063 0-4.148438-1.863281-4.148438-4.152343v-473.339844c0-2.285156 1.859375-4.148437 4.148438-4.148437h359.441406c2.289063 0 4.148437 1.863281 4.148437 4.148437zm0 0"/></svg>
                                </div>
                            </div>
                            <div><span class="h6">Roof Top Restaurant</span>
                                <p class="text-sm text-muted mb-0">Built to be customized.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-none">
                        <div class="p-3 d-flex">
                            <div>
                                <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 511.99789 511" width="2em"><path d="m504.097656 102.808594h-41.6875c1.210938-1.699219 2.308594-3.484375 3.269532-5.355469 5.515624-10.773437 6.261718-23.460937 2.046874-34.8125l-12.632812-33.953125c-4.210938-11.339844-13.058594-20.457031-24.265625-25.011719-11.21875-4.558593-23.925781-4.195312-34.867187 1l-99.976563 47.480469c-4.941406-3.53125-10.984375-5.617188-17.507813-5.617188h-44.953124c-6.523438 0-12.570313 2.089844-17.511719 5.621094l-99.972657-47.488281c-10.941406-5.191406-23.648437-5.554687-34.867187-.996094-11.207031 4.554688-20.054687 13.671875-24.265625 25.007813l-12.632812 33.960937c-4.214844 11.347657-3.46875 24.035157 2.050781 34.808594.957031 1.871094 2.058593 3.660156 3.269531 5.355469h-41.691406c-4.363282 0-7.902344 3.535156-7.902344 7.902344v56.886718c0 4.363282 3.539062 7.902344 7.902344 7.902344 4.363281 0 7.902344-3.539062 7.902344-7.902344v-48.988281h54.886718c.878906.308594 1.769532.59375 2.671875.84375l66.339844 18.261719c-14.742187 22.589844-27.746094 46.351562-38.878906 70.972656h-85.019531v-9.484375c0-4.363281-3.539063-7.898437-7.902344-7.898437-4.363282 0-7.902344 3.535156-7.902344 7.898437v17.386719c0 4.363281 3.539062 7.902344 7.902344 7.902344h28.179687v279.753906c0 4.367187 3.539063 7.902344 7.902344 7.902344h424.03125c4.363281 0 7.902344-3.535157 7.902344-7.902344v-45.882813c0-4.363281-3.539063-7.902343-7.902344-7.902343-4.367187 0-7.902344 3.539062-7.902344 7.902343v37.984375h-156.707031v-266.996094c22.382812 42.394532 37.535156 88.492188 44.507812 136.121094.460938 3.152344 2.773438 5.71875 5.863282 6.507813.648437.167969 1.304687.246093 1.957031.246093 2.441406 0 4.792969-1.132812 6.308594-3.144531 11.359375-15.070312 21.921875-31.203125 31.457031-48.046875 15.96875 10.875 31.472656 23 46.183594 36.125 2.480468 2.210938 6.082031 2.636719 9.007812 1.058594 2.925782-1.574219 4.554688-4.8125 4.070313-8.101562-6.308594-43.035157-18.070313-85.355469-34.742188-125.625h42.089844v202.261718c0 4.367188 3.539063 7.902344 7.902344 7.902344 4.367187 0 7.902343-3.535156 7.902343-7.902344v-202.261718h28.183594c4.363282 0 7.898438-3.539063 7.898438-7.902344v-105.878906c.003906-4.367188-3.53125-7.902344-7.898438-7.902344zm-101.359375-83.859375c7.050781-3.34375 14.910157-3.570313 22.140625-.632813 7.21875 2.933594 12.6875 8.570313 15.402344 15.878906l12.628906 33.949219c2.71875 7.3125 2.253906 15.164063-1.300781 22.105469-3.550781 6.9375-9.648437 11.898438-17.164063 13.964844l-125.785156 34.628906v-37.976562c28.273438-17.3125 98.757813-53.019532 116.300782-28.257813 2.519531 3.558594 7.449218 4.40625 11.011718 1.882813 3.5625-2.523438 4.40625-7.457032 1.882813-11.015626-13.539063-19.113281-42.070313-20.042968-84.808594-2.757812-17.605469 7.117188-33.859375 15.804688-44.386719 21.832031v-5.832031c0-4.230469-.878906-8.261719-2.457031-11.921875zm-169.214843 43.390625h44.953124c7.929688 0 14.378907 6.453125 14.378907 14.378906v65.316406c0 7.929688-6.449219 14.378906-14.378907 14.378906h-44.953124c-7.929688 0-14.378907-6.449218-14.378907-14.378906v-65.316406c0-7.929688 6.449219-14.378906 14.378907-14.378906zm-13.28125 146.34375c7.558593-12.558594 15.785156-24.730469 24.636718-36.464844h22.234375c8.855469 11.734375 17.082031 23.90625 24.636719 36.464844zm-159.851563-118.433594c-3.554687-6.941406-4.019531-14.792969-1.304687-22.101562l12.636718-33.957032c2.710938-7.304687 8.179688-12.941406 15.398438-15.875 7.226562-2.9375 15.089844-2.710937 22.136718.632813l96.539063 45.855469c-1.578125 3.65625-2.457031 7.683593-2.457031 11.917968v6.28125c-10.492188-6.039062-27.113282-14.984375-45.167969-22.285156-42.734375-17.285156-71.269531-16.355469-84.808594 2.757812-2.523437 3.558594-1.679687 8.492188 1.882813 11.015626 3.5625 2.523437 8.492187 1.679687 11.011718-1.882813 17.707032-24.996094 89.351563 11.621094 117.082032 28.738281v37.496094l-125.78125-34.625c-7.519532-2.070312-13.617188-7.03125-17.167969-13.96875zm146.496094 65.960938c3.933593 7.359374 10.824219 12.910156 19.078125 15.046874-36.957032 51.5625-62.398438 110.808594-74.332032 173.082032-8.394531-12.265625-16.242187-25.121094-23.425781-38.398438-1.050781-1.945312-2.863281-3.359375-5.007812-3.902344-2.140625-.542968-4.410157-.164062-6.257813 1.042969-13.160156 8.582031-26.046875 17.996094-38.492187 28.105469 12.816406-67.273438 39.296875-132.140625 77.269531-189.0625zm-155 68.28125h42.09375c-16.671875 40.269531-28.433594 82.585937-34.746094 125.625-.480469 3.289062 1.144531 6.527343 4.070313 8.101562 2.929687 1.574219 6.527343 1.152344 9.007812-1.058594 14.710938-13.125 30.214844-25.25 46.1875-36.125 9.535156 16.84375 20.09375 32.972656 31.457031 48.046875 1.515625 2.011719 3.867188 3.148438 6.308594 3.148438.652344 0 1.308594-.082031 1.957031-.25 3.089844-.789063 5.398438-3.355469 5.859375-6.507813 6.976563-47.628906 22.128907-93.730468 44.507813-136.125v267h-156.703125zm172.507812 271.855468v-271.855468h63.210938v271.855468zm170.664063-193.265625c-1.847656-1.207031-4.121094-1.582031-6.257813-1.039062-2.140625.542969-3.957031 1.957031-5.007812 3.898437-7.183594 13.277344-15.03125 26.136719-23.425781 38.398438-11.933594-62.277344-37.375-121.519532-74.335938-173.078125 8.253906-2.132813 15.148438-7.6875 19.082031-15.050781l51.179688-14.089844c37.964843 56.933594 64.445312 121.800781 77.261719 189.066406-12.449219-10.109375-25.335938-19.523438-38.496094-28.105469zm101.136718-94.394531h-85.015624c-11.132813-24.621094-24.136719-48.382812-38.875-70.972656l66.332031-18.261719c.902343-.25 1.792969-.535156 2.671875-.84375h54.886718zm0 0"/></svg>
                                </div>
                            </div>
                            <div><span class="h6">Varanasi tour packages
                                </span>
                                <p class="text-sm text-muted mb-0">Built to be customized.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="text-center">
                <a href="#">Read More ....</a>
            </h4>
        </div>
    </section>
    <section class="slice slice-lg pt-7 pt-lg-10 bg-section-secondary">
        <div class="shape-container shape-position-top shape-orientation-inverse" style="height: 133.188px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"><path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path></svg></div>
        <div class="container">
            <div class="row mb-5 mb-lg-10 justify-content-center text-center">

                <div class="col-lg-8">
                    <div class="pb-4">
                        <div class="icon bg-danger text-white rounded-circle icon-lg icon-shape shadow">

                            <svg xmlns="http://www.w3.org/2000/svg" fill="#ffff" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;width: 2em;height: 2em;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M483.197,425.03l-27.412-24.095c2.417-4.505,3.699-9.565,3.699-14.821c0-8.395-3.27-16.287-9.205-22.221    c-5.935-5.937-13.827-9.205-22.221-9.205c-0.355,0-0.707,0.014-1.06,0.026c0.011-0.354,0.026-0.706,0.026-1.061    c0-8.394-3.27-16.285-9.205-22.222c-5.936-5.936-13.828-9.204-22.222-9.204c-7.651,0-14.879,2.723-20.594,7.698l-20.813-18.296    c-13.591-11.947-20.479-29.813-18.425-47.79l6.649-58.213c3.075-26.922-1.106-54.245-12.092-79.015L278.454,9.661    c-3.141-7.079-10.625-10.903-18.2-9.297c-1.566,0.331-3.027,0.883-4.371,1.603c-1.342-0.722-2.801-1.276-4.365-1.608    c-7.528-1.595-14.976,2.231-18.115,9.31l-51.721,116.939c-10.986,24.77-15.167,52.092-12.093,79.015l6.649,58.213    c2.054,17.977-4.834,35.843-18.425,47.79l-23.689,20.823l-1.02-1.02c-5.936-5.936-13.828-9.204-22.222-9.204    c-8.394,0-16.287,3.27-22.221,9.204c-5.936,5.937-9.205,13.828-9.205,22.222c0,0.355,0.015,0.707,0.026,1.061    c-0.352-0.011-0.705-0.026-1.06-0.026c-8.394,0-16.287,3.269-22.221,9.204c-5.936,5.936-9.205,13.827-9.205,22.222    c0,6.52,1.982,12.733,5.644,17.966l-23.833,20.95c-3.515,3.089-3.859,8.444-0.771,11.957c1.675,1.907,4.015,2.88,6.367,2.88    c1.986,0,3.981-0.695,5.591-2.109l24.283-21.346l56.587,56.587l-20.88,25.111c-2.992,3.598-2.5,8.94,1.097,11.932    c1.583,1.316,3.503,1.958,5.414,1.958c2.43,0,4.844-1.04,6.52-3.056l20.595-24.769c4.692,2.685,10.02,4.124,15.57,4.124    c8.394,0,16.286-3.27,22.222-9.205c6.399-6.4,9.449-14.895,9.163-23.297c0.358,0.012,0.716,0.026,1.074,0.026    c8.048,0,16.096-3.063,22.222-9.189c5.936-5.937,9.205-13.828,9.205-22.222c0-8.395-3.269-16.287-9.205-22.222l-1.144-1.144    c0.242-0.229,0.473-0.473,0.691-0.735l36.097-43.43c6.815-8.184,12.312-17.33,16.395-27.079    c4.103,9.725,9.619,18.871,16.454,27.079l34.338,41.234l-4.077,4.077c-5.936,5.936-9.204,13.827-9.204,22.222    c0,8.394,3.27,16.285,9.204,22.222c6.127,6.127,14.174,9.189,22.222,9.189c0.358,0,0.716-0.014,1.074-0.026    c-0.285,8.403,2.764,16.898,9.165,23.298c6.127,6.127,14.174,9.189,22.222,9.189c6.728,0,13.452-2.149,19.058-6.432l22.319,27.067    c1.675,2.032,4.099,3.083,6.542,3.083c1.898,0,3.807-0.635,5.385-1.936c3.611-2.977,4.124-8.317,1.147-11.928l-23.172-28.1    l56.208-56.208l27.223,23.929c1.61,1.416,3.604,2.109,5.591,2.109c2.352,0,4.692-0.974,6.367-2.88    C487.056,433.473,486.712,428.119,483.197,425.03z M159.419,467.11c-2.735,2.735-6.372,4.242-10.239,4.242    c-3.867,0-7.504-1.506-10.239-4.241v-0.001l-70.759-70.759c-2.735-2.735-4.241-6.372-4.241-10.239    c0-3.868,1.506-7.505,4.241-10.239c2.735-2.735,6.372-4.242,10.239-4.242s7.504,1.506,10.239,4.242l42.455,42.454l28.304,28.304    c0.002,0.002,0.005,0.005,0.007,0.007C165.064,452.286,165.062,461.467,159.419,467.11z M191.88,434.648    c-5.645,5.647-14.83,5.648-20.478,0l-70.759-70.759c-2.734-2.734-4.241-6.371-4.241-10.239c0-3.867,1.506-7.504,4.242-10.239    c2.734-2.735,6.371-4.241,10.239-4.241s7.505,1.507,10.239,4.242l70.759,70.759c2.734,2.734,4.241,6.371,4.241,10.239    C196.122,428.277,194.615,431.913,191.88,434.648z M247.387,88.003c-21.561,23.786-34.568,51.107-37.632,79.255    c-0.609,5.592-0.837,11.303-0.679,16.97c0.128,4.597,3.895,8.237,8.465,8.237c0.079,0,0.16-0.001,0.241-0.003    c4.678-0.13,8.365-4.028,8.234-8.706c-0.137-4.901,0.061-9.835,0.586-14.664c2.339-21.484,11.015-39.663,20.784-53.891v172.677    c0,21.315-7.424,41.969-20.907,58.162l-35.75,43.014l-44.596-44.596l22.87-20.103c17.756-15.609,26.756-38.953,24.074-62.442    l-6.649-58.212c-2.733-23.927,0.984-48.209,10.75-70.23l50.21-113.517V88.003z M285.377,346.033    c-13.571-16.298-21.044-36.951-21.044-58.157l0.001-173.086c9.884,14.288,18.706,32.609,21.068,54.299    c0.526,4.833,0.724,9.768,0.586,14.663c-0.131,4.678,3.554,8.576,8.232,8.707c0.081,0.002,0.162,0.003,0.242,0.003    c4.569,0,8.336-3.64,8.465-8.236c0.159-5.665-0.07-11.373-0.679-16.971c-3.077-28.27-16.185-55.705-37.914-79.564V19.62    l50.495,113.858c9.763,22.013,13.479,46.296,10.746,70.221l-6.649,58.212c-2.683,23.49,6.316,46.832,24.074,62.441l19.93,17.519    l-44.205,44.205L285.377,346.033z M314.598,434.649c-2.734-2.735-4.241-6.373-4.241-10.239c0-3.868,1.506-7.505,4.241-10.239    l70.759-70.76c2.734-2.735,6.371-4.241,10.239-4.241c3.868,0,7.505,1.507,10.239,4.242s4.241,6.372,4.241,10.239    c0,3.868-1.506,7.505-4.241,10.239l-70.758,70.759C329.432,440.293,320.245,440.295,314.598,434.649z M438.296,396.352    c0.001,0-69.412,69.277-70.937,70.92c-5.262,5.671-14.711,5.426-20.298-0.163c-5.646-5.645-5.646-14.833,0-20.478l70.758-70.758    c2.823-2.823,6.531-4.235,10.239-4.235s7.416,1.412,10.239,4.235c2.735,2.734,4.241,6.371,4.241,10.239    C442.537,389.98,441.031,393.618,438.296,396.352z"/>
                                        </g>
                                    </g>
                                    </svg>

                        </div>
                    </div>
                    <h3 class="mt-lg-4">What our client say</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card hover-shadow-lg hover-translate-y-n3">
                        <div class="card-body text-center py-5 h-100">
                            <p class="px-2 mb-4">Amazing people! All-in-one, clean, beautiful room, and really nice people.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card hover-shadow-lg hover-translate-y-n3 mt-lg-n7">
                        <div class="card-body py-5 text-center h-100">
                            <p class="px-2 mb-4">Amazing people! All-in-one, clean, beautiful room, and really nice people.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card px-2 hover-shadow-lg hover-translate-y-n3">
                        <div class="card-body py-5 h-100">
                            <p class="px-2 mb-4">Amazing people! All-in-one, clean, beautiful room, and really nice people.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card hover-shadow-lg hover-translate-y-n3">
                        <div class="card-body text-center py-5 h-100">
                            <p class="px-2 mb-4">Amazing people! All-in-one, clean, beautiful room, and really nice people.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card hover-shadow-lg hover-translate-y-n3 mt-lg-n7">
                        <div class="card-body text-center py-5 h-100">
                            <p class="px-2 mb-4">Amazing people! All-in-one, clean, beautiful room, and really nice people.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card hover-shadow-lg hover-translate-y-n3">
                        <div class="card-body py-5 text-center h-100">
                            <p class="px-2 mb-4">Amazing people! All-in-one, clean, beautiful room, and really nice people.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid p-0">
            <div class="row justify-content-center text-center">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="item">
                            <img src="/img/1.JPG" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/2.JPG" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/3.JPG" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/4.JPG" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/5.JPG" alt="">
                        </div>
                        <div class="item">
                            <img src="/img/6.JPG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid px-0 py-5 bg-section-secondary">
            <div class="row justify-content-center text-center">
                <div class="col-md-12 pt-3">
                    <h3>
                        Subscribe to our Newsletter
                    </h3>

                </div>
                <div class="col-md-6">
                    <form class="mt-5 mx-3">
                        <div class="form-group bg-white rounded-pill px-2 py-2 shadow mb-0">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group input-group-merge shadow-none">
                                        <input type="text" class="pl-3 form-control form-control-flush shadow-none" placeholder="Email address"></div>
                                </div>
                                <div class="col-auto"><button type="button" class="btn btn-block btn-warning rounded-pill">Search</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-section-dark">
        <div class="container-fluid py-5">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <img src="" alt="">
                </div>
                <div class="col-md-3 col-sm-2 sal-animate" data-sal="slide-up" data-sal-delay="600" data-sal-duration="900" data-sal-easing="ease-in-out">
                    <ul class="list-unstyled text-small">
                        <li>
                            Product
                        </li>
                        <li>
                            Install
                        </li>
                        <li>
                            Quickstart
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-2 sal-animate" data-sal="slide-up" data-sal-delay="600" data-sal-duration="900" data-sal-easing="ease-in-out">
                    <ul class="list-unstyled text-small">
                        <li>
                            Blog
                        </li>
                        <li>
                            Carrers
                        </li>
                        <li>
                            About
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 sal-animate" style=" color: #fff;" data-sal="slide-up" data-sal-delay="600" data-sal-duration="900" data-sal-easing="ease-in-out">
                    <span>
                                <i class="fab fa-twitter"></i>
                        </span>
                    <span>
                                <i class="fab fa-facebook"></i>
                            </span>
                    <span>
                                    <i class="fab fa-github"></i>
                                </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/quick-website.js "></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 1000,
            autoplayHoverPause: false,
            responsiveClass: true,
            nav: false,
            pagination: false,
            dots: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: false,
                }
            }
        })
    </script>
</body>

</html>